@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    font-size: 18px;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

.header {
    background-color: rgb(245, 245, 178);
    position: sticky;
    top: 0;
    left:0;
    z-index: 20;
    color: black;
}

[class*="__container"] {
    max-width: 1320px;
    padding: 10px 50px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 15px;
}

.footer {
    background-color: rgb(245, 245, 178);
    text-align: center;
    position: sticky;
    z-index: 100;
    bottom: 0;
    left: 0;
    color: black;
}

.menu {
    margin-left: 30px;
}

.menu__item {
    display: inline-block;
    position: relative;
}

.menu__item:not(:last-child) {
    margin-right: 15px;
}

.menu__item:hover {
    border-radius: 15px 0;
    box-shadow: 7px 7px 15px lightblue;
}

.menu__item:hover .sub-menu,
.sub-menu__item:hover .sub2-menu {
    visibility: visible
}


.menu__item:hover .menu__link, 
.sub-menu__item:hover .sub-menu__link,
.sub2-menu__item:hover .sub2-menu__link{
    text-decoration: underline;
}
.menu__link {
    display: inline-block;
    background-color: lightblue;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 15px 0;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    width: 130px;
    visibility: hidden;
}

.sub-menu__item {
    background-color: rgb(148, 217, 240);
    border: 2px solid black;
    border-radius: 15px 0;
}

.sub-menu__link {
    display: inline-block;
    padding: 8px 12px;
}

.sub2-menu {
    position: absolute;
    top: 0;
    left: 100%;
    padding-top: 5px;
    width: 120px;
    visibility: hidden;
}

.sub2-menu__item {
    background-color: rgb(101, 211, 248);
    border: 2px solid black;
    border-radius: 15px 0;
}

.sub2-menu__link {
    display: inline-block;
    padding: 6px 10px;
}

.block1 {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 25px;
    color: black;
    position: relative;
}

.block1__header {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    position: sticky;
    top: 107px;
    left: 0;
}

.block2__image-section {
    outline: 1px solid black;
}

.block2__images {
    margin: 10px 0;
}

.image-block {
    font-size: 0;
}

.employer {
    max-width: 386px;
    width: 31.64%;
    display: inline-block;
    position: relative;
}

.employer__photo {
    width: 100%;
}

.employer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgba(107, 119, 229, 0.70);
    visibility: hidden;
}

.employer:hover::after {
    visibility: visible;
}

.image-block__img:not(:nth-child(3n)) {
    margin-right: 2.54%;
}

.image-block__img:nth-child(n+4) {
    margin-top: 2.54%;
}

.employer__info {
    width: 88.34%;
    height: 21.43%;
    position: absolute;
    z-index: 2;
    top: 74.44%;
    left: 5.7%;  
}

.title-employer {
    background-color: white;
    padding: 6.22% 0;
}

.title-employer__name {
    color: #37393F;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0 7px 0;
}

.title-employer__post {
    color: #7D7D7D;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
}

.employer__socials {
    position: absolute;
    top: 45.77%;
    left: 27.85%;
    visibility: hidden;
    z-index: 2;
}

.employer__social-link:not(:last-child) {
    margin-right: 13px;
}

.employer__social-link:hover {
    outline: 3px solid white;
    border-radius: 50%;
}

.employer:hover .employer__socials {
    visibility: visible;
}
