@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    color: #7d7d7d;
    font-size: 18px;
}
header {
    height: 100px;
    background: linear-gradient(90deg, rgba(107, 119, 229, 1) 37%, rgba(64, 221, 182, 1) 100%);
    padding: 10px;
}

footer {
    height: 180px;
    background-image: url("../img/end.png");
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat
}

footer h6 {
    text-align: center;
    color: black;
}

.divider {
    border-bottom: 5px double #40DDB6;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.menu {
    margin-top: 25px;
}

.menu a {
    background-color: white;
    color: #6B77E5;
    text-shadow: 3px 3px 5px #6B77E5;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

.part1  {
    max-width: 600px;
    background-color: #c4cafd;
    margin: 0 auto;
    padding: 10px;

    background-image: url("../img/hand.svg");
    background-position: 50% 110px;
    background-repeat: no-repeat;
    background-size: 30px; 
    background-attachment: fixed;
}

.part1 .block1 {
    width: 250px;
    height: 200px;
    border: 2px dashed #40DDB6;
    outline: 2px solid #6B77E5;
    background-image: url("../img/person.svg");
    background-size: 20px;
    background-repeat: repeat-x;
    box-shadow: 3px 3px 15px #6B77E5;
    color: white;
    font-size: 10px;
}

.block11 {
    margin-top: 20px;
    width: 250px;
    height: 200px;
    border: 3px solid #40DDB6;
    background-image: url("../img/hand.svg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: 30px;
    background-attachment: fixed;
}

.end {
    margin-top: 25px;
    height: 150px;
    background-image: url("../img/door.svg");
    background-size: 30px;
    background-repeat: repeat-y;
}

.end * {
    display: inline-block;
    vertical-align: middle;
}

.end span,
.answer {
    margin-left: 40px;
}

.answer{
    height: 20px;
    background-image: url("../img/light.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 90px 1px;
}

.part2 {
    max-width: 811px;
    padding: 69px;
    margin: 0 auto;
}

.preheader h5,
.main-header /*h2*/,
.check-header /*h4*/ {
    color: #37393F;
}

.preheader * {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 16px;
}

.preheader h5 {
    font-weight: 500;
}

.square12 {
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
}

.main-header {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    margin-bottom: 10px;
}

.narrow {
    width: 62%;
}

.text {
    margin-bottom: 48px;
}

.text p {
    line-height: 1.47;
    margin-bottom: 16px;
}

.check-unit {
    margin-bottom: 48px;
}

.check-block {
    background-image: url("../img/check.jpg");
    background-repeat: no-repeat;
    background-position: 38px 28px;
    margin-bottom: 31px;
}

.check-section {
    padding: 28px 41px 28px 84px;
}

.check-header {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.btn {
    display: inline-block;
    padding: 21px 35px 22px 35px;
    text-transform: capitalize;
    color: white;
    background: #6B77E5;
    outline: 1px solid black;
}

.part3{
    max-width: 1920px;
    padding: 150px 350px;
    margin: 0 auto;
}

.centered-srction {
    text-align: center;
    margin-bottom: 47px;
}

.part3 .preheader,
.part3 .main-header {
    margin-bottom: 14px;
}

.row {
    font-size: 0;
    margin-bottom: 58px;
}
.item {
    display: inline-block;
    font-size: 20px;
    width: 384px;
    height: auto;
    margin-right: 34px;
    vertical-align: top;
}

.last {
    margin-right: 0;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto 501px;
}
.pic1 {
    background-image: url("../img/Image1.jpg");
}

.pic2 {
    background-image: url("../img/Image2.jpg");
}

.pic3 {
    background-image: url("../img/Image3.jpg");
}

.pic4 {
    background-image: url("../img/Image4.jpg");
}

.pic5 {
    background-image: url("../img/Image5.jpg");
}

.pic6 {
    background-image: url("../img/Image6.jpg");
}

.pic-header {
    padding-top: 525px;
    color: #37393F;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 10px;
}

.pic-date {
    background-image: url("../img/check_date.jpg");
    background-repeat: no-repeat;
}

.pic-date p {
    height: 22px;
    font-size: 14px;
    padding-left: 25px;
    line-height: 1.47;
}

.part4 {
    max-width: 1340px;
    padding: 100px;
    margin: 0 auto;
}

.decoration-header {
    margin-bottom: 30px;
}

.decoration-header *{
    display: inline-block;
    vertical-align: middle;
}

.violet {
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background: #8A33FD;
}

.main-header-euphoria,
.sub-header-euphoria {
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
}

.main-header-euphoria {
    margin-left: 15px;
    color: #3C4242;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.56px;
}

.content {
    margin-left: 21px;
    line-height: 1.68;
}

.sub-header-euphoria {
    color: #807D7E;
    font-size: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.text-euphoria {
    color: #807D7E;
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.text-euphoria p {
    margin-bottom: 20px;
}

.bold {
    font-weight: 700;
}

a.sub-header-euphoria {
    text-transform: capitalize;
}

.part5 {
    max-width: 1440px;
    padding: 100px;
    margin: 0 auto;
}

.block {
    border-radius: 10px;
    font-size: 0;
    overflow: hidden;
}
 .block * {
    display: inline-block;  
    background-size: cover;
} 

.leaves {
    background-image: url("../img/leaves.jpg");
    width: 49.5%;
    padding: 174px 74px;
    color: #FFF;
    vertical-align: middle;
}
.people {
    background-image: url("../img/people.jpg");
    width: 50.5%;
    min-height: 640px;
    vertical-align: middle;
}

.leaves-header {
    text-transform: uppercase;
    font-family: "Core Sans C", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.208px;
    margin-bottom: 25px;
}

.leaves-text {
    margin-bottom: 30px;
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
}

.leaves-text p{
    margin-bottom: 20px;
}

.leaves-button {
    display: inline-block;
    text-transform: capitalize;
    padding: 12px 44px;
    background-color: #fff;
    border-radius: 8px;
    color: #3C4242;
    font-family: "Causten", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

